CREATE DATABASE [MoveOrm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoveOrm', FILENAME = N'D:\MDF\MoveOrm.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoveOrm_log', FILENAME = N'D:\LDF\MoveOrm_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [MoveOrm]
GO
USE [MoveOrm]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [MoveOrm] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
